body {
    margin: 0;
    padding: 0;
    font-family: 'Gloss And Bloom', sans-serif;
    background: url(images/background-image.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-transform: uppercase;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    flex: 1;
    justify-content: center;
    padding: 20px;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-row a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333; /* Fondo oscuro para los botones */
    border: 2px solid #444; /* Borde ligeramente más claro para contraste */
    border-radius: 12px;
    text-decoration: none;
    color: #fff; /* Color de texto claro */
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 4px #000; /* Sombra más pronunciada para efecto de profundidad */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    height: 200px;
    width: calc(33.33% - 10px);
    box-sizing: border-box;
    text-align: center;
}

.button-row a:hover {
    box-shadow: 0 6px #222; /* Sombra más intensa en hover */
    transform: scale(1.05);
}

.button-row a:active {
    box-shadow: 0 2px #111; /* Sombra más sutil en estado activo */
    transform: scale(1.02);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    margin: 0;
    padding-right: 120px;
    text-align: center;
}

.footer-logo {
    max-width: 100px;
    height: auto;
    padding-right: 30px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .button-row a {
        font-size: 1.1em;
        height: 70px;
        width: calc(50% - 10px); /* Ajusta para dos botones por línea en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .button-row a {
        font-size: 1em;
        height: 60px;
        width: calc(100% - 10px); /* Ajusta para un botón por línea en pantallas muy pequeñas */
    }
}