/* styles.css */

body {
    font-family: 'Typenoksidi', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 1em;
}

.project-list {
    list-style-type: none;
    padding: 0;
}

.project-list li {
    margin: 0.5em 0;
}

.project-list a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
}

.project-list a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}